<%= form_for(@flight_configuration) do |f| %>
    <% if @flight_configuration.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@flight_configuration.errors.count, "error") %> prohibited this flight_configuration from
                being saved:</h2>

            <ul>
                <% @flight_configuration.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p class="text-center main-control-buttons">
        <button class="btn btn-primary btn-large text-centre" id="increment">+</button>
        <button class="btn btn-primary btn-large" id="decrement">-</button>
        <button class="btn btn-danger btn-large" id="stop">EMERGENCY STOP</button>
        <button class="btn btn-warning btn-large" id="default">DEFAULT</button>
    </p>

    <div class="row">
        <div class="span6">
            <div class="field  alert alert-info">
                <%= f.label :M1, :class => "badge badge-inverse" %><br/>
                <button class="btn btn-primary btn-large increment">+</button>
                <%= f.number_field :motor1 %>
                <button class="btn btn-primary btn-large decrement">-</button>
            </div>
        </div>
        <div class="span6">
            <div class="field alert alert-error">
                <%= f.label :M2, :class => "badge badge-important" %><br/>
                <button class="btn btn-primary btn-large increment">+</button>
                <%= f.number_field :motor2 %>
                <button class="btn btn-primary btn-large decrement">-</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="field alert alert-error">
                <%= f.label :M3, :class => "badge badge-important" %><br/>
                <button class="btn btn-primary btn-large increment">+</button>
                <%= f.number_field :motor3 %>
                <button class="btn btn-primary btn-large decrement">-</button>
            </div>
        </div>
        <div class="span6">
            <div class="field  alert alert-info">
                <%= f.label :M4, :class => "badge badge-inverse" %><br/>
                <button class="btn btn-primary btn-large increment">+</button>
                <%= f.number_field :motor4 %>
                <button class="btn btn-primary btn-large decrement">-</button>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="field span4">
            <%= f.label :control_status %><br/>
            <%= f.number_field :control_status %>
        </div>
        <div class="field span4">
            <%= f.label :correction_vector %><br/>
            <%= f.number_field :correction_vector %>
        </div>
        <div class="field span4">
            <%= f.label :correction_limit %><br/>
            <%= f.number_field :correction_limit %>
        </div>
    </div>
    <div class="actions">
        <%= f.submit :class => "btn btn-primary btn-large" %>
    </div>
<% end %>
