<%= form_for(@flight_configuration) do |f| %>
    <% if @flight_configuration.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@flight_configuration.errors.count, "error") %> prohibited this flight_configuration from
                being saved:</h2>

            <ul>
                <% @flight_configuration.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p class="text-center">
        <button class="btn btn-primary btn-large text-centre" id="increment">+</button>
        <button class="btn btn-primary btn-large" id="decrement">-</button>
        <button class="btn btn-danger btn-large" id="stop">EMERGENCY STOP</button>
    </p>

    <div class="row">
        <div class="span3">
            <div class="field">
                <%= f.label :motor1 %><br/>
                <%= f.number_field :motor1 %>
            </div>
        </div>
        <div class="span3">
            <div class="field">
                <%= f.label :motor2 %><br/>
                <%= f.number_field :motor2 %>
            </div>
        </div>
        <div class="span3">
            <div class="field">
                <%= f.label :motor3 %><br/>
                <%= f.number_field :motor3 %>
            </div>
        </div>
        <div class="span3">
            <div class="field">
                <%= f.label :motor4 %><br/>
                <%= f.number_field :motor4 %>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="field span3">
            <%= f.label :control_status %><br/>
            <%= f.number_field :control_status %>
        </div>
        <div class="field span3">
            <%= f.label :correction_vector %><br/>
            <%= f.number_field :correction_vector %>
        </div>
        <div class="field span3">
            <%= f.label :correction_limit %><br/>
            <%= f.number_field :correction_limit %>
        </div>
    </div>
    <div class="actions">
        <%= f.submit :class => "btn btn-primary btn-large" %>
    </div>
<% end %>
